.is-setting-pane {
  height: 80vh;
  width: 100%;
  margin-left: 2vw;
  margin-right: 2vw;
}

.tabs *.is-active {
  border: none;
  border-bottom: 2.5px solid !important;
  border-bottom-color: #209cee !important;
  transition: all 2s;
}
.tabs li:not(.is-active) {
  border: none;
  border-bottom: 1px solid whitesmoke;
  transition: all 2s;
}

.fadeUp-enter-active, .fadeUp-leave-active {
  transition: all 1s;
}

.fadeUp-enter, .fadeUp-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}


/* settings.general.vue */
.is-30h {
  height: 30vh
}
.field {
  padding-top: 1px;
}

/* settings.savedValues.vue */
.savedvalues {
  height: 50vh;
  overflow: scroll
}

/* Animation */
.details-enter-active, .details-leave-active {
  transition: all 1s;
}

.details-enter, .details-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
