.light #window {
  background-color: #e3e6e9 !important;
  color: #282c34 !important;
}

.light>* .is-tag.is-black,.light>* .is-tag.is-black:hover {
  background-color: white;
  color: #282c34;
}

.light>* .tabs>* {
  background-color: #b2b8c3;
  border-bottom: 1px solid gray;
}

.light>* .table {
  background: #ffffff;
  color: #282c34;
}

.light>* .is-future *{
  color: hsl(0, 0%, 48%);
}

.light>* .table tr:hover td {
  background: #b9c0cf !important;
}

.light>* .tab.is-active:hover {
  background-color: #e3e6e9  !important;
}

.light>* #dashboard {
  background-color: #e3e6e9;
}

.light>* .tabs *.is-active {
  border-bottom: 0px solid #282c34;
}

.light>* .hero.is-dark .tabs.is-boxed li.is-active a,.light>* .hero.is-dark .tabs.is-boxed li.is-active a:hover {
  background-color: #d8d9da;
  color: #282c34;
}

.light>* .has-text-warning{
  color: #d4b642 !important
}
/*COLORS */
.light>* .hero.is-black, .hero.is-black .title,.light>* .hero.is-black .subtitle,.light>* .hero.is-dark,.light>* .hero.is-dark .tabs.is-boxed a,.light>* .hero.is-dark .title,.light>* .hero.is-dark .subtitle,.light>* .notification .title,.light>* .notification .subtitle,.light>* .notification .content{
  color: #282c34  !important;
}

.light>* .notification.is-dark {
  background-color: #cfcfcf  !important;
  color: #282c34;
}

.light>* .input, .select select {
  background-color: whitesmoke  !important;
  border-color: gray;
  color: #282c34  !important;
}

.light>* .footer.is-black, .notification.is-black {
  background-color: #d8d9da  !important;
}

.light>* .footer {
  color: gray;
  border-top: 1px solid #101010;
}

/* TYPEAHEAD */
/*.tt-input, .tt-hint, .tt-menu, .tt-dataset, .tt-suggestion, .tt-emty, .tt-cursor, .tt-highlight {
  background: inherit !important;
}*/
.light>* .tt-hint {
  background-color: whitesmoke  !important;
  border-color: gray;
  color: gray  !important;
}
