body, #window {
  background-color: #282c34;
  color: white;
}


.tabs>* {
  background-color: #21252b;
  border-bottom: 1px solid gray;
}

.table {
  background: black;
  color: inherit;
}

.is-future *{
  color: hsl(0, 0%, 48%);
}

.table tr:hover td {
  background: #21252b;
}

.tab.is-active:hover {
  background-color: #21252b;
}

input[type='range'] {
    background:grey;
}

.calendar{
  background-color: #282c34 !important;
}

.datepicker .calendar .calendar-body .date-item{
  color: whitesmoke;
}

.checkbox:hover{
  color: whitesmoke;
}

.hero.is-dark .tabs.is-boxed li.is-active a, .hero.is-dark .tabs.is-boxed li.is-active a:hover {
  background-color: #282c34;
  color: white;
}

/*COLORS */

.notification.is-dark {
  background-color: #282c34;
}

.input, .select select {
  background-color: black;
  border-color: gray;
  color: white;
}

.footer.is-black, .notification.is-black {
  background-color: #21252b;
}

.footer {
  color: gray;
  border-top: 1px solid #101010;
}

/* TYPEHEAD */
/*.tt-input, .tt-hint, .tt-menu, .tt-dataset, .tt-suggestion, .tt-emty, .tt-cursor, .tt-highlight {
  background: inherit !important;
}*/
.tt-hint {
  background-color: black  !important;
  border-color: gray  !important;
  color: gray  !important;
}
