body, #window {
  background-color: #e3e6e9;
  color: #282c34;
}

.is-tag.is-black, .is-tag.is-black:hover {
  background-color: white;
  color: #282c34;
}

.tabs>* {
  background-color: #b2b8c3;
  border-bottom: 1px solid gray;
}

.table {
  background: #ffffff;
  color: #282c34;
}

.is-future *{
  color: hsl(0, 0%, 48%);
}

.table tr:hover td {
  background: #b9c0cf;
}

.tab.is-active:hover {
  background-color: #21252b;
}

#dashboard {
  background-color: #e3e6e9;
}

.tabs *.is-active {
  border-bottom: 0px solid #282c34;
}

.hero.is-dark .tabs.is-boxed li.is-active a, .hero.is-dark .tabs.is-boxed li.is-active a:hover {
  background-color: #d8d9da;
  color: #282c34;
}

.has-text-warning{
  color: #d4b642
}
/*COLORS */
.hero.is-black, .hero.is-black .title, .hero.is-black .subtitle, .hero.is-dark, .hero.is-dark .tabs.is-boxed a, .hero.is-dark .title, .hero.is-dark .subtitle, .notification .title,.notification .subtitle, .notification .content{
  color: #282c34;
}

.notification.is-dark {
  background-color: #cfcfcf;
  color: #282c34;
}

.input, .select select {
  background-color: whitesmoke;
  border-color: gray;
  color: #282c34;
}

.footer.is-black, .notification.is-black {
  background-color: #d8d9da;
}

.footer {
  color: gray;
  border-top: 1px solid #101010;
}

/* TYPEAHEAD */
/*.tt-input, .tt-hint, .tt-menu, .tt-dataset, .tt-suggestion, .tt-emty, .tt-cursor, .tt-highlight {
  background: inherit !important;
}*/
.tt-hint {
  background-color: whitesmoke  !important;
  border-color: gray  !important;
  color: gray  !important;
}
