<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="styles.css">
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push(`<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>`)
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      const myCSS = document.createElement("link")
      myCSS.setAttribute("rel","stylesheet")
      myCSS.setAttribute("href",window.__static + "/assets/css/settings.css");
      document.head.appendChild(myCSS)

      const darkTheme = document.createElement("link")
      darkTheme.setAttribute("rel","stylesheet")
      darkTheme.setAttribute("href",window.__static + "/assets/css/dark.css");
      document.head.appendChild(darkTheme)

      const lightTheme = document.createElement("link")
      lightTheme.setAttribute("rel","stylesheet")
      lightTheme.setAttribute("href",window.__static + "/assets/css/light.css");
      document.head.appendChild(lightTheme)
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
